## editors
/.idea
/.vscode
.editorconfig
**config.json
**config.mjs

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/src/
/test/
/out-tsc/

storybook-static

